.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: $primary-color;
  display: block;
  margin: 0 auto 1rem auto;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn {
  &-primary {
    @extend %btn-shared;
    color: #333;
    background-color: $primary-color;
  }

  &-light {
    @extend %btn-shared;
    color: #333;
    background-color: $light-color;
  }

  &-dark {
    @extend %btn-shared;
    color: #f4f4f4;
    background-color: $dark-color;
  }
}

a[class^="btn-"]:hover {
  background-color: $primary-color;
  color: white;
}
//Font-Size 
.font-xs {
  font-size: 8.5pt !important;
}

.font-sm {
  font-size: 10pt !important;
}

.font-md {
  font-size: 12pt !important;
}

.font-lg {
  font-size: 14pt !important;
}